/* trykker-regular - latin */
@font-face {
  font-family: 'Trykker';
  font-style: normal;
  font-weight: 400;
  src: url('trykker-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Trykker Regular'), local('Trykker-Regular'),
       url('trykker-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('trykker-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('trykker-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('trykker-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('trykker-v6-latin-regular.svg#Trykker') format('svg'); /* Legacy iOS */
}

/* vt323-regular - latin */
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: url('vt323-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('VT323 Regular'), local('VT323-Regular'),
       url('vt323-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('vt323-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('vt323-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('vt323-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('vt323-v9-latin-regular.svg#VT323') format('svg'); /* Legacy iOS */
}

body{
  background-color: #b1e9e9;
  color: #696969;
  font-size: calc(10pt + 0.25vw);
  font-family: 'Trykker', serif;
  }

#container{
  display: grid;
  align-items: start;
  grid-template:
    "header header header"
    "controller pomodoro pause-lists"
    "controller pomodoro pause-lists"
    "reset reset reset";
}

.box{
  border: solid;
  margin: 1vw;
  border-radius: 15pt;
  background: #FFFFFF;
}

.list{
  justify-self: center;
  align-self: start;
  margin: 1vw;
}

#header{
  grid-area: header;
  place-self: stretch;
  background-color: #e02424;
  text-align: center;
}

#logger{
  grid-area: logger;
  padding: 2%;
  min-height: 65%;
  min-width: 30vw;
  overflow: auto;
}

#timer{
  grid-area: timer;
  justify-self: center;
  align-self: start;
  text-align: center;
  background-color: #2f9494;
  padding: 20pt;
  color: #FFFFFF;
  min-width: 27vw;
  min-height: 40vh;
  border-color: #696969;
}

#timer-numbers{
  font-family: 'VT323', serif;
  font-size: calc(25pt + 4vw);
}

#short{
  grid-area: short;
}

#long{
  grid-area: long;
}

#controller{
  text-align: center;
  grid-area: controller;
  display:grid;
  grid-template:
      "session"
      "pause"
}

#session-controller{
  grid-area: session;
}

#pause-controller{
  grid-area: pause;
}

#pomodoro{
  grid-area: pomodoro;
  display: grid;
  grid-template-areas:
    "timer logger"  
}

h1{
  color: #44BE1E;
  font-size: calc(12pt + 2.5vw);
}

h2{
  color: #FFFFFF;
  font-size: calc(12pt + 2.5vw);
  text-transform: uppercase;
  margin: 10pt;
}

h3{
  color: #96D121;
}

button{
  background-color: #e02424;
  border-color: #e02424;
  color: #ffc1c1;
  border-width: 1px;
  border-radius: 10px;
  padding: calc(1pt + 0.2vw);
  margin: .5vw;
  font-size: calc(12pt + 1vw);
  cursor: pointer;
}

.pause-buttons{
  font-size: calc(5pt + 0.1vw);
  vertical-align: super;
}

.numbers{
  font-size: calc(12pt + 1vw);
}

.pause{
  min-height: 10vw;
  padding: 5pt;
  max-width: 25vw;
  min-width: 220px;
}

.no-break{
  white-space:no-wrap
}

input{
  width:70%;
  padding: 5pt;
  border: 1px solid;
  background-color: #B1E9E9;
  color: #000000
}

.log-items{
  margin: 10pt
}

#pause-lists{
  grid-area: pause-lists;
  display: grid;
  align-items: start;
  grid-template:
    "short"
    "long"
}

#reset{
  grid-area: reset;
}

/*#reset-counter{
  background-color: #44BE1E;
}*/

@media(max-width: 660px){
  #container{
  display: grid;
  grid-template:
    "header"
    "controller"
    "pomodoro"
    "pauses-lists";
  align-items: center;
}
  
  #controller{
    display:grid;
    grid-template:
      "session pause"
  }
  
  #pomodoro{
  grid-area: pomodoro;
  display: grid;
  grid-template-areas:
    "timer"
    "logger"
}
  #long{
  grid-area: long;
  justify-self: center;
}
  .pause{
    max-width: 100%;
    min-width: 60vw;
  }
  #timer{
    min-width: 80%;
    min-height: 80%;
  }
  .controller{
    width: 100%;
  }
}